version: 2.1

aliases:
  node_env: &node_env
    docker:
      - image: cimg/node:lts
  when_release: &when_release
    condition:
      matches: { pattern: /^release\/.*$/, value: << pipeline.git.branch >> }

commands:
  yarn_cache_install:
    steps:
      - restore_cache:
          key: packages-{{ checksum "yarn.lock" }}-{{ checksum "package.json" }}
      - run: |
          sudo corepack enable
          yarn install --immutable
      - save_cache:
          paths:
            - ~/.yarn/berry
          key: packages-{{ checksum "yarn.lock" }}-{{ checksum "package.json" }}

jobs:
  build:
    <<: *node_env
    steps:
      - checkout
      - yarn_cache_install
      - run: |
          yarn tsc
          node dist/spec
  check:
    <<: *node_env
    steps:
      - checkout
      - yarn_cache_install
      - when:
          <<: *when_release
          steps:
            - run:
                name: Confirm release strategy was applied
                command: |
                  if [ -n "$(ls -A ~/repo/.yarn/versions)" ]; then
                    exit 1
                  fi
      - unless:
          <<: *when_release
          steps:
            - run: yarn version check
  lint:
    <<: *node_env
    steps:
      - checkout
      - yarn_cache_install
      - run: yarn lint

workflows:
  build:
    jobs:
      - build
  tests:
    jobs:
      - check
      - lint
